/* Entire right chat window */
.chat-window {
    display: flex;
    flex-flow: column;
}

/* Window with just messages */
.message-window {
    flex:2;
    flex-basis: 0;
    overflow-y: auto;
    overflow-x: hidden;
    min-height:0;
}

/* Message input bar */
.message-bar {
}

